@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap');

/*font-family: 'Bree Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sansita Swashed', cursive;*/

*{
  margin:0px;
  padding:0px;
}

/*.home_head{
  padding-left:160px;
  padding-top:90px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Sansita Swashed', cursive;
}*/
.header{
  font-size: 4em;
  font-family:  'Bree Serif', serif;
}
.navbar{
  height: 75px;
  font-family:'Roboto', sans-serif;
  
  box-shadow: 10px 10px 8px #e2dfdf;
}
.navlink_item{
  text-decoration: none;
  font-style:'Bree Serif', serif;
  font-size: 20px;
  
  
}
.navlink_item:hover{
  border-bottom: 4px solid rgba(252, 3, 156, 0.925);
  padding-bottom: 7px;
  
}
input{
  background-color: rgb(244, 245, 181);
  border-bottom: 4px solid black;
  
}
textarea{
  background-color: rgb(244, 245, 181);
  border-bottom:4px solid black;
}



/*.navbar
{
margin: 0px;
height: 90px;
background-color:rgb(6, 72, 240);
box-shadow:10px 10px 8px #888888 ;


}

.navlinks{
  color:white;
  text-decoration:none;
  display: inline-flex;
  font-size: 25px;
  font-family: 'Sansita Swashed', cursive;
  margin-top: 26px;
  margin-left:90px;
}
.navlinks:hover
{
  color:black;
  cursor: pointer;
  border-bottom: 2px solid black;
}*/

